.femail{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .fcontra{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .fenviar {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .fenviar:hover {
    background-color: #45a049;
  }
  
  .contenedor{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .crear{
    background-color: rgb(219, 158, 79);
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px;
  }

  .actu{
    background-color: rgb(54, 216, 148);
    border-radius: 4px;
    border: none;
    color: white;
    padding: 13px;
  }

  .delete{
    background-color: rgb(255, 0, 0);
    border-radius: 4px;
    border: none;
    color: white;
    padding: 13px;
  }

  table{
    width: 40%;
  }
  td{
    text-align: center;
  }

  th{
    text-align: center;
    border: 1px solid white;
    background-color: cornflowerblue;
    color: white;
    border-radius: 4px;
  }

  .btn{
    border: none;
    width: 10%;
    position: relative;
  }